<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
                       <title>   PUBLIC SERVICE COMMISSION </title>
                           PUBLIC SERVICE COMMISSION <br> <br>
                                  covid-19  <br>  <br>
                              SELF DECLEARATION FORM<br><br>
</head>

<body>

<!--<div th:object="${candidate}">
    Candidate Information<br><br>

    Master ID: <input type="text" th:value="${studentmasterid}" >

    Full Name: <input type="text" th:value="${candidate.getFullname()}" >

    Age(in years): <input type="text" th:value="${candidate.getAge()}" >

    Gender : <input type="text" th:value="${candidate.getGender()}" >


</div>-->

<br>
<br>


<!--
<div th:object="${candidate}">
    Current Address

    District:  <input type="text" th:value="${candidate.district}" ><br>
    (Rural)Municipality:  <input type="text" th:value="${candidate.municipality}" ><br>
    Ward No: <input  type="text" th:value="${candidate.wardno}" ><br>
    Mobile No: <input type="text" th:value="${candidate.mobileno}" ><br>
    Email Address: <input type="text" th:value="${candidate.email}"><br>

</div>


COVID 19 VACCINATION STATUS<br>

<input type="checkbox" th:field="*{checkStr}" th:value="on" > I am not vaccinated against COVID-19<br>
<input type="checkbox" th:field="*{checkStr}" th:value="on" > I am vaccinated against COVID-19<br>
<input type="checkbox" th:field="*{checkStr}" th:value="on" > First Dose   If yes date of vaccination   <input type="date" ><br>
<input type="checkbox" th:field="*{checkStr}" th:value="on" > Second Dose  If yes date of vaccination   <input type="date" ><br>

PRESENT STATUS OF COVID-19<br>

<input type="checkbox" th:field="*{checkStr}" th:value="on" >I am tested COVID Positive<br>
<input type="checkbox" th:field="*{checkStr}" th:value="on" >I have no COVID Symptoms <br>
<input type="checkbox" th:field="*{checkStr}" th:value="on"> I have following COVID Symptoms<br>
<input type="checkbox" th:field="*{checkStr}" th:value="on" > Fever
<input type="checkbox" th:field="*{checkStr}" th:value="on" >Body Ache
<input type="checkbox" th:field="*{checkStr}" th:value="on" > Diarrhoea
<input type="checkbox" th:field="*{checkStr}" th:value="on" >Cough
<input type="checkbox" th:field="*{checkStr}" th:value="on" >Severe Weakness
<input type="checkbox" th:field="*{checkStr}" th:value="on" >Loss of Smell
<input type="checkbox" th:field="*{checkStr}" th:value="on" >Loss of Taste
<input type="checkbox" th:field="*{checkStr}" th:value="on" >Sneezing/Runny Nose

-->

</body>

</html>